/*---------------------------------

  リセットCSS ※Railsだといらないかも?

---------------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
/*  font-family: "Hiragino Kaku Gothic ProN", sans-serif;*/
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*---------------------------------

  0.ヘッダー

  1.メインコンテンツ
    1.1
    1.2
    1.3

  2.フッター

---------------------------------*/
/*---------------------------------

  0.ヘッダー

---------------------------------*/

header {
  height: 65px;
  width: 100%;
  background-color: rgba(249, 90, 0, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  /*width: 124px;*/
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*モバイル用ハンバーガーアイコン*/
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  
 /* PC用はdisplayをnoneに指定してください */
  display: none;
}

/*---------------------------------

  0.ヘッダー end

---------------------------------*/

/*---------------------------------

  1.メインコンテンツ

---------------------------------*/
.top-wrapper{
  padding:180px 0 100px;
  background-image:url("./img/13335346.jpg");
  color:white;
  background-size:cover;

  text-align:center;

}

.top-wrapper h1{
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 75px;
  /* or 157% */
  

  color: #6D6666;

  opacity:0.9;
  text-shadow: 0px 4px 4px  rgba(255, 255, 255, 0.8);
}

.top-wrapper p{
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  /* or 175% */

  color: #6D6666;

  opacity:0.9;
  text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.8);
}

.top-wrapper h2{
  font-family: Nico Moji;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 31px;
/* identical to box height, or 44% */

color: #6D6666;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*---------------------------------

  1.メインコンテンツEND

---------------------------------*/
/*---------------------------------

  2.フッター

---------------------------------*/
/*---------------------------------

  2.フッター end

---------------------------------*/
